// * Top section * //

@if $show_top_section_for_staff_only == "true" {
   .sidebar-section-wrapper.sidebar-section[data-section-name="community"] {
      display: none;
   }

   .staff .sidebar-section-wrapper.sidebar-section[data-section-name="community"] {
      display: block;
   }
}

@if $show_top_section_for_logged-in_only == "true" {
   .anon .sidebar-section-wrapper.sidebar-section[data-section-name="community"] {
      display: none;
   }
}

@if $hide_top_section_for_all == "true" {
   .sidebar-section-wrapper.sidebar-section[data-section-name="community"] {
      display: none;
   }
}


// * More drop down section * //

@if $show_more_for_staff_only == "true" {
   .btn-flat.sidebar-more-section-links-details-summary, 
   .sidebar-more-section-links-details-summary.json-editor-btn-collapse {
      display: none;
   }
   .staff .btn-flat.sidebar-more-section-links-details-summary, 
   .staff .sidebar-more-section-links-details-summary.json-editor-btn-collapse {
      display: flex;
   }
}

@if $show_more_for_logged-in_only == "true" {
   .anon .btn-flat.sidebar-more-section-links-details-summary, 
   .anon .sidebar-more-section-links-details-summary.json-editor-btn-collapse {
      display: none;
   }
}


// * More drop-down sections * //

@if $show_anniversaries_for_staff_only == "true" {
   .sidebar-section-link-wrapper {
      .sidebar-section-link {
         &[data-link-name="anniversaries"] {
            display: none;
         }
      }
   }

   .sidebar-section-link-wrapper {
      .staff .sidebar-section-link {
         &[data-link-name="anniversaries"] {
            display: block;
         }
      }
   }
}

@if $show_birthdays_for_staff_only == "true" {
   .sidebar-section-link-wrapper {
      .sidebar-section-link {
         &[data-link-name="birthdays"] {
            display: none;
         }
      }
   }

   .sidebar-section-link-wrapper {
      .staff .sidebar-section-link {
         &[data-link-name="birthdays"] {
            display: block;
         }
      }
   }
}


@if $show_docs_for_staff_only == "true" {
   .sidebar-section-link-wrapper {
      .sidebar-section-link {
         &[data-link-name="docs"] {
            display: none;
         }
      }
   }

   .sidebar-section-link-wrapper {
      .staff .sidebar-section-link {
         &[data-link-name="docs"] {
            display: block;
         }
      }
   }
}

// * Categories and Tags sections * //

@if $show_categories_for_staff_only == "true" {
   .sidebar-section-wrapper.sidebar-section[data-section-name="categories"] {
      display: none;
   }

   .staff .sidebar-section-wrapper.sidebar-section[data-section-name="categories"] {
      display: block;
   }
}

@if $show_categories_for_logged-in_only == "true" {
   .anon .sidebar-section-wrapper.sidebar-section[data-section-name="categories"] {
      display: none;
   }
}

@if $show_tags_for_staff_only == "true" {
   .sidebar-section-wrapper.sidebar-section[data-section-name="tags"] {
      display: none;
   }

   .staff .sidebar-section-wrapper.sidebar-section[data-section-name="tags"] {
      display: block;
   }
}

@if $show_tags_for_logged-in_only == "true" {
   .anon .sidebar-section-wrapper.sidebar-section[data-section-name="tags"] {
      display: none;
   }
}

// * Messages Section * //

@if $show_messages_for_staff_only == "true" {
   .sidebar-section-wrapper.sidebar-section[data-section-name="messages"] {
      display: none;
   }

   .staff .sidebar-section-wrapper.sidebar-section[data-section-name="messages"] {
      display: block;
   }
}

@if $show_messages_for_logged-in_only == "true" {
   .anon .sidebar-section-wrapper.sidebar-section[data-section-name="messages"] {
      display: none;
   }
}

// * Channels Section *

@if $show_channels_for_staff_only == "true" {
   .sidebar-section-wrapper.sidebar-section[data-section-name="chat-channels"] {
      display: none;
   }

   .staff .sidebar-section-wrapper.sidebar-section[data-section-name="chat-channels"] {
      display: block;
   }
}

@if $show_channels_for_logged-in_only == "true" {
   .anon .sidebar-section-wrapper.sidebar-section[data-section-name="chat-channels"] {
      display: none;
   }
}

// * Chat Section *

@if $show_chat_for_staff_only == "true" {
   .sidebar-section-wrapper.sidebar-section[data-section-name="chat-dms"] {
      display: none;
   }

   .staff .sidebar-section-wrapper.sidebar-section[data-section-name="chat-dms"] {
      display: block;
   }
}

@if $show_chat_for_logged-in_only == "true" {
   .anon .sidebar-section-wrapper.sidebar-section[data-section-name="chat-dms"] {
      display: none;
   }
}

// * Anon and Logged-in only user sections * //

@if $show_custom_for_staff_only !="" {
   .sidebar-section-wrapper.sidebar-section[data-section-name="#{$show_custom_for_staff_only}"] {
      display: none;
   }

   .staff .sidebar-section-wrapper.sidebar-section[data-section-name="#{$show_custom_for_staff_only}"] {
      display: block;
   }
}

@if $show_custom_for_logged-in_only !="" {
   .anon .sidebar-section-wrapper.sidebar-section[data-section-name="#{$show_custom_for_logged-in_only}"] {
      display: none;
   }
}

@if $show_custom_for_anon_only !="" {
   .sidebar-section-wrapper.sidebar-section[data-section-name="#{$show_custom_for_anon_only}"] {
      display: none;
   }

   .anon .sidebar-section-wrapper.sidebar-section[data-section-name="#{$show_custom_for_anon_only}"] {
      display: block;
   }
}

// * hide entire Navigaion Menu from anon in desktop and mobile view* * //

@if $show_navigation_menu_to_logged-in_only =="true" {
   html.anon {

      // Hide the narrow desktop sidebar 
      // sidebar mobile version which is activate on desktop too under 1000px width
      .d-header .hamburger-panel {
         display: none;
      }

      // Hide the header cloak when menu opens
      .header-cloak {
         display: none !important;
      }
   }
}