// * Import string splitter code * //

@import "str-to-list";

// * Top section * //

@if $show_these_sections_for_staff_only !="" {

   $staff_sections: str-to-list("#{$show_these_sections_for_staff_only}", "|");

   @each $staff_section in $staff_sections {

      .sidebar-section-wrapper.sidebar-section[data-section-name="#{$staff_section}"] {
         display: none;
      }

      .staff .sidebar-section-wrapper.sidebar-section[data-section-name="#{$staff_section}"] {
         display: block;
      }
   }
}

@if $show_these_sections_for_logged-in_only !="" {

   $user_sections: str-to-list("#{$show_these_sections_for_logged-in_only}", "|");

   @each $user_section in $user_sections {

      .sidebar-section-wrapper.sidebar-section[data-section-name="#{$user_section}"] {
         display: block;
      }

      .anon .sidebar-section-wrapper.sidebar-section[data-section-name="#{$user_section}"] {
         display: none;
      }
   }
}

@if $show_these_links_for_staff_only !="" {

   $staff_links: str-to-list("#{$show_these_links_for_staff_only}", "|");

   @each $staff_link in $staff_links {

      .sidebar-section-link-wrapper[data-list-item-name="#{$staff_link}"] {
         display: none;
      }

      .staff .sidebar-section-link-wrapper[data-list-item-name="#{$staff_link}"] {
         display: block;
      }
   }
}

@if $show_these_links_for_logged-in_only !="" {

   $user_links: str-to-list("#{$show_these_links_for_logged-in_only}", "|");

   @each $user_link in $user_links {

      .sidebar-section-link-wrapper[data-list-item-name="#{$user_link}"] {
         display: flex;
      }

      .anon .sidebar-section-link-wrapper[data-list-item-name="#{$user_link}"] {
         display: none;       
      }
   }
}


// * More drop down section * //

@if $show_more_for_staff_only =="true" {
   .btn-flat.sidebar-more-section-links-details-summary {
      display: none;
   }

   .staff .btn-flat.sidebar-more-section-links-details-summary {
      display: flex;
   }
}

@if $show_more_for_logged-in_only =="true" {
   .anon .btn-flat.sidebar-more-section-links-details-summary {
      display: none;
   }
}

// * Anon and Logged-in only user sections * //


@if $show_custom_for_anon_only !="" {
   .sidebar-section-wrapper.sidebar-section[data-section-name="#{$show_custom_for_anon_only}"] {
      display: none;
   }

   .anon .sidebar-section-wrapper.sidebar-section[data-section-name="#{$show_custom_for_anon_only}"] {
      display: block;
   }
}

// * hide globe icon from staff * //

@if $hide_custom_menus_globe_icon =="true" {
   .sidebar-section-wrapper .sidebar-section-header-global-indicator {
      display: none;
   }
}



// * hides entire Navigation Menu for specified categories * //

@if $hide_menu_in_these_categories =="true" {

$hide_menu_cats: str-to-list("#{$hide_menu_in_these_categories}", "|");

  @each $hide_cat in $hide_menu_cats {
    body.has-sidebar-page.category-#{$hide_cat} {
      #main-outlet-wrapper {
        grid-template-columns: 0 minmax(0, 1fr);
        gap: 0;
        padding-left: 10px;
      }
     .wrap {
       max-width: var(--d-max-width);
     }
    }
  }
}

// * menu sections re-order * //


$menu_sections: str-to-list($default_menu_section_ordering, "|");

@for $i from 1 through length($menu_sections) {
   .sidebar-section-wrapper.sidebar-section[data-section-name="#{nth($menu_sections, $i)}"] {
      order: $i;
   }
}
